<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="~/Content/Images/covers/cover-1.png" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4">
                            <span style="color:#fff;">Welcome to <strong>Card Reality</strong></span>
                        </h2>
                        <p class="animated6">@Html.ActionLink("Play Now", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "slider btn btn-system btn-large" })</p>
                    </div>
                </div>
            </div><!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="~/Content/Images/covers/cover-2.png" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4">
                            <span style="color:#fff;">Get a <strong>Top Hand</strong></span>
                        </h2>
                        <h3 class="animated5">
                            <span style="color:#fff;">And win the match</span>
                        </h3>
                        <p class="animated6">@Html.ActionLink("Play Now", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "slider btn btn-system btn-large" })</p>
                    </div>
                </div>
            </div><!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="~/Content/Images/covers/cover-3.png" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated7 white">
                            <span>Build your <strong>Deck</strong></span>
                        </h2>
                        <h3 class="animated8 white">
                            <span>Card by card</span>
                        </h3>
                        <p class="animated6">@Html.ActionLink("Play Now", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "slider btn btn-system btn-large" })</p>
                    </div>
                </div>
            </div><!--/ Carousel item end -->
        </div><!-- Carousel inner end-->
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div><!-- /carousel -->
</section>
<!-- End HomePage Slider -->
