<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row footer-widgets">

            <!-- Start Subscribe -->
            <div class="col-md-4">
                <div class="footer-widget mail-subscribe-widget">
                    <h4>Get in touch<span class="head-line"></span></h4>
                    <p>For any questions feel free to contact us!</p>
                    <form class="subscribe">
                        <input type="text" placeholder="mail@example.com">
                        <input type="submit" class="btn-system" value="Subscribe">
                    </form>
                </div>
            </div><!-- .col-md-4 -->
            <!-- End Subscribe -->
            <!-- Start Social Widget -->
            <div class="col-md-5">
                <div class="footer-widget social-widget">
                    <h4>Follow Us<span class="head-line"></span></h4>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- .col-md-4 -->
            <!-- End Social Widget -->
            <!-- Start Contact Widget -->
            <div class="col-md-3">
                <div class="footer-widget contact-widget">
                    <h4>Card Reality</h4>
                    <p>A turn-based card game</p>
                    <ul>
                        <li><span>Website:</span> www.cardReality.com</li>
                    </ul>
                </div>
            </div><!-- .col-md-4 -->
            <!-- End Contact Widget -->
        </div> <!-- .row -->

        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year - Card Reality</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="http://graygrids.com">GrayGrids</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Copyright -->

    </div>
</footer>
<!-- End Footer -->