<!-- Start Team Member Section -->
<div class="section" style="background:#fff;">
    <div class="container">
        <!-- Start Big Heading -->
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
            <h1><strong>Forbidden City</strong> Developer's Team</h1>
        </div>
        <!-- End Big Heading -->

        <!-- Start Team Members -->
        <div class="row">
            <!-- Start Memebr 1 -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="03">
                <div class="team-member modern">
                    <!-- Memebr Photo, Name & Position -->
                    <div class="member-photo">
                        <img alt="" src="~/Content/Images/profiles/ivan.jpg" />
                        <div class="member-name">
                            Ivan Yonkov <span>Lead</span>
                        </div>
                    </div>
                    <!-- Memebr Words -->
                    <div class="member-info">
                        <p>Lead Developer.</p>
                    </div>
                </div>
            </div>
            <!-- End Memebr 1 -->
            <!-- Start Memebr 2 -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="04">
                <div class="team-member modern">
                    <!-- Memebr Photo, Name & Position -->
                    <div class="member-photo">
                        <img alt="" src="~/Content/Images/profiles/ju.png" />
                        <div class="member-name">
                            Julieta Atanasova <span>Back-End</span>
                        </div>
                    </div>
                    <!-- Memebr Words -->
                    <div class="member-info">
                        <p>Back-end Developer.</p>
                    </div>
                </div>
            </div>
            <!-- End Memebr 2 -->
            <!-- Start Memebr 3 -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="05">
                <div class="team-member modern">
                    <!-- Memebr Photo, Name & Position -->
                    <div class="member-photo">
                        <img alt="" src="~/Content/Images/profiles/bankin.png" />
                        <div class="member-name">
                            Nikolay Bankin <span>Front-End</span>
                        </div>
                    </div>
                    <!-- Memebr Words -->
                    <div class="member-info">
                        <p>Front-end Developer.</p>
                    </div>
                </div>
            </div>
            <!-- End Memebr 3 -->
        </div>
        <!-- End Team Members -->

    </div><!-- .container -->
</div>
<!-- End Team Member Section -->