@model IEnumerable<CardReality.Data.Models.PlayerCard>

@{
    ViewBag.Title = "Add";
}

<div class="page-header">
    <h2 class="">Add <small>new item on the market</small></h2>
</div>

<div class="container">
    <form action="/market/addoffer" method="post" class="form-inline" style="margin-bottom: 10px;">
        <div class="form-group">
            <select name="card" class="form-control">
                <option value="0">-- Select a card --</option>
                @foreach (var item in Model)
                {
                    <option value="@Html.DisplayFor(modelItem => item.Card.Id)">
                        @Html.DisplayFor(modelItem => item.Card.Name)
                    </option>
                }
            </select>    
        </div>
        <div class="form-group">
            <input type="text" name="price" value="0" class="form-control" />    
        </div>
        <input type="submit" name="submit" value="Sell"  class="btn btn-primary"/>
    </form>
</div>